<div class="row">
  <h3 style="margin-top: 15px">Información de Películas</h3>
  <p>En esta sección se muestra la información de las películas</p>
  <ul class="list-group list-group-flush">
    {{#.}}
    <a class="list-group-item" href="/?id={{ id }}" data-navigo>
      <div class="row">
        <div class="col-1">
          <img
            src="images/{{image}}"
            class="rounded-circle mx-auto d-block"
            width="30"
            height="30"
          />
        </div>
        <div class="col">{{ name }}</div>
      </div>
    </a>
    {{/.}}
  </ul>
</div>
